.tel-form-banner {
	padding: 25px;
	background: var(--bg-clr);
	border-radius: 25px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.9);
	z-index: 2;
	width: 500px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition:
		transform 0.5s,
		opacity 0.5s;
}

.tel-form-banner--active {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	pointer-events: all;
}

.tel-form-banner__title {
	font-size: clamp(1rem, 2vw, 1.25rem);
	font-weight: 600;
}

.tel-form-banner__success-container {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

.loading {
	background: rgba(255, 255, 255, 0.5);
}

.success {
	background: rgba(226, 255, 182, 0.5);
}

.error {
	background: rgba(255, 192, 182, 0.5);
}

.input {
	text-align: center;
	border: 1px solid var(--bg-clr);
	height: 30px;
	border-radius: 15px;
}

.input--empty {
	border: 1px solid rgb(247, 155, 141);
}

.tel-form-banner__form {
	background: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	row-gap: 10px;
	min-height: 200px;
}

.input-empty-message {
	color: rgb(247, 155, 141);
}

.tel-form-banner__form-btn {
	align-self: flex-end;
	background: var(--bg-lighter-clr);
	height: 50px;
	border-radius: 25px;
	padding: 0 12.5px;
	font-weight: 400;

	&:hover {
		background: var(--sec-accent-clr);
	}
}

// Curtain
.tel-form-banner__curtain {
	position: fixed;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	pointer-events: none;
	-webkit-backdrop-filter: blur(0);
	backdrop-filter: blur(0);
	transition: backdrop-filter 0.5s;
}

.tel-form-banner__curtain--active {
	pointer-events: auto;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

@media screen and (width <= 540px) {
	.tel-form-banner {
		width: calc(100% - 40px);
	}
}
