.scroll-to-top-btn {
	width: calc(100% - 20px);
	background: var(--accent-clr);
	padding: 10px;
	margin: 10px;
	border-radius: 20px;

	&:hover {
		background: var(--sec-accent-clr);
	}

	&:active {
		background: #000;
		color: #fff;
	}
}
