.vacancy-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 25px;
	min-height: calc(100svh - 85px);
	padding: 100px 25px 25px;
}

.vacancy-page__img {
	width: 100%;
	max-width: 500px;
}

.vacancy-page__no-img {
	width: 100%;
	max-width: 500px;
	aspect-ratio: 1/1;
	background: var(--bg-lighter-clr);
}

.vacancy-page__details {
	display: flex;
	gap: 10px;
}

.vacancy__title {
	font-size: clamp(2rem, 4vw, 2rem);
	font-weight: 600;
}

.vacancy__created-at {
	align-self: flex-end;
}

.vacancy-page__link {
	align-self: flex-end;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12.5px;
	color: #000;
	height: 50px;
	border-radius: 25px;
	background: var(--sec-accent-clr);

	&:hover {
		background: #000;
		color: #fff;
	}
}

@media screen and (width <= 896px) {
	.vacancy-page {
		row-gap: 10px;
		padding: 60px 10px 10px;
	}

	.vacancy-page__details {
		flex-direction: column;
		align-items: center;
	}
}
