footer {
	margin-top: 25px;
	text-align: center;
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	width: 100%;
}

.iframe-container {
	width: 100%;
	max-width: 720px;
	transform: scale(0.5);
	transform-origin: 0 0;
	margin: 0 auto;
}

.iframe {
	height: 720px;
	width: 200%;
	border: 5px solid var(--accent-clr);
}

@media screen and (width <= 896px) {
	footer {
		margin-top: 10px;
		row-gap: 10px;
	}
}
