@use "./../../../scss/mixins" as *;

.footer {
	position: fixed;
	top: 0;
	right: 25px;
	left: 25px;
	height: 100dvh;
}

.footer-inner {
	height: 100%;
	display: flex;
	align-items: center;
	gap: 20px;
}

.footer-top {
	width: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 10px;
}

.footer__logo {
	font-size: clamp(5rem, 10vw, 10rem);
	font-weight: 500;
	color: rgba(0, 0, 0, 0.5);
}

.footer__socials {
	display: flex;
	gap: 10px;
}

.footer__social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.footer__nav-container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
	flex-wrap: wrap;
}

.footer__nav-title {
	margin-bottom: 10px;
}

.footer__nav-list {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.footer-bottom__slider {
	position: absolute;
	bottom: 25px;
	width: 100%;
	background: #000;
	height: 50px;
	border-radius: 25px;
	overflow: hidden;

	// TODO: learn this
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 100;
		width: 25px;
		pointer-events: none;
	}

	&::before {
		left: 0;
		background: linear-gradient(to right, #000, transparent);
	}

	&::after {
		right: 0;
		background: linear-gradient(to left, #000, transparent);
	}
}

.footer-bottom__list {
	display: flex;
	height: 100%;
	align-items: center;
	width: 100%;
	min-width: calc(var(--width) * var(--quantity));
	position: relative;
}

.footer-bottom__item {
	color: #fff;
	width: var(--width);
	position: absolute;
	left: 100%;
	@include grid-center;
	animation: autoRun 20s linear infinite;
	//
	animation-delay: calc(
		(20s / var(--quantity)) * (var(--position) - 10)
	) !important;
	//

	a {
		color: #fff;
		transition: color 0.1s;

		&:hover {
			color: var(--sec-accent-clr);
		}
	}
}

.footer-bottom__slider:hover .footer-bottom__item {
	animation-play-state: paused;
}

@keyframes autoRun {
	from {
		left: 100%;
	}
	to {
		left: calc(var(--width) * -1);
	}
}

@media screen and (width <= 896px) {
	.footer {
		left: 10px;
		right: 10px;
	}

	.footer-inner {
		height: 100%;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		padding: 60px 0 0;
	}

	.footer-top {
		width: 100%;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		gap: 10px;
		flex-wrap: wrap;
	}

	.footer__nav-container {
		justify-content: space-between;
	}

	.footer-bottom__slider {
		bottom: 10px;
	}
}
