.contacts {
	width: 100%;
	padding: 0 25px 25px;
}

.contacts__title {
	padding-top: 100px;
	padding-bottom: 25px;
	font-size: clamp(1.5rem, 4vw, 2.5rem);
	font-weight: 500;
}

.contacts__inner {
	display: flex;
	gap: 25px;
	background: var(--accent-clr);
	padding: 25px;
	border-radius: 20px;
}

.contacts-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.contacts__details-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 5px;
}

.contacts__socials-container {
	display: flex;
	gap: 10px;
}

.contacts-form {
	display: flex;
	flex-direction: column;
	gap: 5px;
	flex-grow: 1;

	textarea {
		flex-grow: 1;

		&:focus {
			outline: 1px solid var(--bg-clr);
		}
	}
}

.input-container {
	display: flex;
	flex-direction: column;
	gap: 5px;

	&:nth-last-child(2) {
		flex-grow: 1;
	}
}

.label {
	margin-left: 10px;
}

.contacts__input {
	background: #fff;
	border-radius: 20px;
	padding: 10px;

	&:focus {
		outline: 1px solid var(--bg-clr);
	}
}

.contacts-form__btn {
	background: var(--sec-accent-clr);
	align-self: flex-end;
	padding: 10px;
	border-radius: 20px;

	&:hover {
		background: #000;
		color: #fff;
	}
}

.contacts-form__btn--loading {
	cursor: not-allowed;
}

.contacts-form__btn--success {
	color: #fff;
	background: #000;
	cursor: not-allowed;
}

.contacts-form__btn--error {
	color: #fff;
	background: #f00;
	cursor: not-allowed;
}

.contacts__details-title {
	font-size: clamp(1rem, 4vw, 1.25rem);
	font-weight: 500;
}

.map {
	width: 100%;
	height: 400px;
	border-radius: 15px;
}

@media screen and (width <= 1000px) {
	.contacts__inner {
		display: flex;
		flex-direction: column-reverse;
	}
}

@media screen and (width <= 896px) {
	.contacts {
		padding: 0 10px 25px;
	}

	.contacts__inner {
		padding: 10px;
	}

	.contacts__title {
		padding-top: 75px;
		padding-bottom: 25px;
	}
}
