.scroll-to-top-btn {
	width: 100%;
	background: var(--accent-clr);
	padding: 10px;
	height: 50px;
	border-radius: 25px;

	&:hover {
		background: var(--sec-accent-clr);
	}

	&:active {
		background: #000;
		color: #fff;
	}
}
