.vacancies-page {
	position: relative;
	z-index: 1;
	border-radius: 25px;
}

.vacancies-page-inner {
	background: #fff;
	border-radius: 25px;
	margin-top: 75px;
	padding: 25px;
}

.vacancies-page__title {
	padding: 25px 0;
	font-size: clamp(1.5rem, 4vw, 2.5rem);
	font-weight: 500;
}

.vacancies-page-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

@media screen and (width <= 1400px) {
	.vacancies-page-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (width <= 1100px) {
	.vacancies-page-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (width <= 896px) {
	.vacancies-page-inner {
		margin-top: 50px;
		padding: 10px;
	}

	.vacancies-page__title {
		padding: 10px 0;
	}
}

@media screen and (width <= 750px) {
	.vacancies-page-container {
		grid-template-columns: repeat(1, 1fr);
	}
}
