// .loading {
// 	position: fixed;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	left: 0;
// 	z-index: 1000;
// 	background: var(--bg-clr);
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	animation: animateLoading 0.5s 1.5s forwards;
// }

// @keyframes animateLoading {
// 	to {
// 		opacity: 0;
// 	}
// }

// .loading__title {
// 	font-size: 1.25rem;
// 	font-weight: 500;
// 	opacity: 0;
// 	filter: blur(10px);
// 	animation: animateLoadingTitle 0.5s 0.5s forwards;
// }

// @keyframes animateLoadingTitle {
// 	to {
// 		opacity: 1;
// 		filter: blur(0);
// 	}
// }
